<!DOCTYPE html>
<html lang="en">
<head>
    <title>Epytodo</title>
    <link rel="stylesheet" href='/static/style.css'/>
</head>
<body>
    {% if user['id'] == -1 %}
    <form action='/register/' method="POST">
        <input type="text" placeholder="login" name="login"required>
        <input type="password" placeholder="password" name="passwd" required>
        <button>Register</button>
    </form><br>
    <form action='/signin/' method="POST">
        <input type="text" placeholder="login" name="login" required>
        <input type="password" placeholder="password" name="passwd" required>
        <button>Log in</button>
    </form>
    {% else %}
    <form action='/signout/' method="POST">
        <button>Log out</button>
    </form>
    {% endif %}
    {% block content %}
    {% endblock %}
    <!--<h1>Hello {{user['name']}}</h1>
    <form action='/user/' method="GET">
        <button>Profil</button>
    </form>
    <form action='/user/task/' method="GET">
        <button>All tasks</button>
    </form>-->
</body>
</html>